<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Autentificacion</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
  </head>
  <body>

    <!-- Interface -->
    <form class="p-4">
      <div class="form-group">
        <input type="text" id="usuario" class="form-control" placeholder="Usuario" autofocus>
      </div>
      <div class="form-group">
        <input type="text" id="contraseña" class="form-control" placeholder="Contraseña">
      </div>
      <button class="btn btn-primary btn-block">
        Save
      </button>
    </form>

    <script type="text/javascript" src="./js/funciones_autentificacion.js"></script> 

  </body>
</html>
