<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Electron App</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/custom.css">
  </head>
  <body > 
    <div class="container">
      <div class="row">
        <div class="col-md-8" id="dia">
          <h1></h1>
        </div>
        <div class="col-md-4">
          <h1 id="liveclock" style="color:#0f0692";></h1>
        </div>
      </div>
    </div>
    <hr>
    <div class="container-fluid p-4" >
      <div class="row" id="salas">
        <!--AQUI COMINEZA LA CARD--> 
       <!---->  
      </div>
    </div>
  </body>
</html>
<script type="text/javascript" src="./js/funciones.js"></script> 