<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Control SGLAB-PRO</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/custom.css">
  </head>
  <body > 
    <div class="container-fluid">
        <div class="row">
          <div class="col-md-4">
              <div class="row">
                <div class="col-md">
                  <h3> Campus Centro <input type="checkbox" onchange="mostrarLaboratorios(1,null)" id="CAMPUS-1" ></h3>
                </div>
                <div class="col-md">
                  <h3> Campus G.G.R.L <input type="checkbox" onchange="mostrarLaboratorios(2,null)" id="CAMPUS-2"></h3>
                </div>
            </div>
          </div>
          <div class="col-md-8">
             <div class="row">
                <div class="col-md-4"></div>  
                <div class="col-md">
                  <div class="btn-group btn-group-toggle" data-toggle="buttons">
                      <button class="btn btn-primary " onclick="seleccionarHora('07:00:00-09:00:00')">
                        07:00-09:00
                      </button>
                      &nbsp
                      <button class="btn btn-primary" onclick="seleccionarHora('09:30:00-11:30:00')">
                        09:30-11:30
                      </button>
                      &nbsp
                      <button class="btn btn-primary" onclick="seleccionarHora('12:00:00-14:00:00')">
                        12:00-14:00
                      </button>
                      &nbsp
                      <button class="btn btn-primary" onclick="seleccionarHora('14:00:00-16:00:00')">
                        14:00-16:00
                      </button>
                      &nbsp
                      <button class="btn btn-primary" onclick="dibujarEspeciales()">
                        Especiales
                      </button>
                  </div>
                </div> 
             </div> 
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-8" id="dia">
            <h1></h1>
          </div>
          <div class="col-md-4">
            <h1 id="liveclock" style="color:#0f0692";></h1>
          </div>
          <div id= "datos" class="col-md-4" style="display: none">
            <h1></h1>
          </div>
        </div>
    </div>
    <hr>
    <div class="container" >
      <div class="row" id="salas">
        <!--AQUI COMINEZA LA CARD--> 
       <!---->  
      </div>
    </div>
  </body>
</html>
<script type="text/javascript" src="./js/funciones.js"></script> 