.card {
  width: 430px;
  height: 330px;
}
@media (min-width:1350px){.card{
  width: 440px;
  height: 320px; 
}}
.card:hover {
  transform: scale(1.02, 1.02);
  box-shadow: 3px 3px 28px 14px rgba(0, 0, 0, 0.205), 
    -3px -3px 28px 14px rgba(0, 0, 0, 0.089);
}